[MASTER]

# Python code to execute, usually for sys.path manipulation such as
init-hook='import sys; sys.path.append("./stationdata")'

# Use multiple processes to speed up Pylint.
jobs=1

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=

disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0115, # missing-class-docstring

logging-format-style=new
max-line-length=120